#nice-dashboard .float-left {float:left;}
#nice-dashboard .clear-both {clear:both;}
#nice-dashboard .ga-heading {font-size: 160%; font-weight:bold; padding:0; background:none;}
#nice-dashboard .overview {padding: 5px; }
#nice-dashboard .center {margin:0 auto;}
#nice-dashboard #ga-overview img { border:1px solid #efefef; margin: 0 10px 0 0;}
#nice-dashboard #stats-visits {position:relative; top:-10px; left:-30px;}
#nice-dashboard #stats-hours {position:relative; top:-10px; left:-30px;}
#nice-dashboard #stats-browsers{position:relative; top:-50px;   }
#nice-dashboard #stats-entrances {overflow:auto ;}
#nice-dashboard #stats-pages {overflow:auto ;}
#nice-dashboard .stats-wrapper{overflow:hidden; height:auto;}