.dashboard-column{
	margin-right:.5%;
	min-height:100px;
	background:#fff;
	float:left;
}
.dashboard-column-two-col {
  width:49%
}
.dashboard-column-one-col {
  width:100%
}

.dashboard-column .widget{
	margin:5px 2px  20px;
	background:#fff;
	position:relative;
	border:1px solid #ddd;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.dashboard-column .widget h2{
	margin:0;
	font-size:12px;
	padding:5px;
	background:#f0f0f0;
	color:#000;
	border-bottom:1px solid #eee;
	font-family:Verdana;
	cursor:move;
}

.widget-content{
	background:#fff;
	min-height:100px; margin:5px;
	font-family:'Lucida Grande', Verdana; font-size:0.8em; line-height:1.5em;
}
.dashboard-column  .placeholder{
	background: #f0f0f0;
	border:1px dashed #ddd;
}
.widget h2.collapse{
	background:#f0f0f0 url('collapse.png') no-repeat top right;
}
.widget h2 .configure{
	font-size:11px; font-weight:normal;
	margin-right:30px; float:right; 
}
